.box-head{
    display: flex;
    position: absolute;
    width: 100%;
    top: 3%;
    left: 3%;
}
.box-text{
    display: flex;
    align-items: center;
    margin-left: 0.5%;
}

.Bar-text{
    width: 190px;
    height: 30px;
    background-color: #393879;
    border-radius: 5px;
    font-family: Satoshi;
    border: none;
}
::placeholder {
    color: #171640;
    font-family: Satoshi;
    font-size: 16px;
}
.box-Buttons{
    position: absolute;
    left: 65%;
    display: flex;
    top: 25%;
}
@media (max-width: 800px) {
	.box-text {
		
        display: none;
        
	}
}

button{
    background-color: transparent;  
    border: none
}
.box-home{
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
}
p{
    margin: 0;
}
.bxs-home{
    color: #3F59A6;
    font-size: 20px;
}
.bxs-chat{
    color: #FFFFFF;
    font-size: 32px;
}
.bxs-bell{
    color: #FFFFFF;
    font-size: 32px;
}
@media (max-width: 800px) {
	.box-Buttons {
		position: absolute;
        left: 20%;
        display: flex;
        top: 25%;
        
	}
    .bxs-chat{
        margin-left: 20px;
    }
    .bxs-bell{
        margin-left:20px ;
    }
}

@media (max-width: 400px) {
	.box-Buttons {
		
        display: none;
       
	}
}
.box-user{
    position: absolute;
    left: 78%;
    display: flex;
    top: 25%;
    background-color: #25245E;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 800px) {
	.box-user {
		position: absolute;
        left: 55%;
        display: flex;
        top: 25%;
	}
}
@media (max-width: 400px) {
	.box-user {
        position: absolute;
        left: 30%;
        display: flex;
        top: 25%;
	}
}
.box-menu{
    position: absolute;
    left: 90%;
    display: flex;
    top: 25%;
}
.bxs-cog{
    color: #ffffff;
    font-size: 32px;
}
@media (max-width: 800px) {
	.bxs-cog {
        position: absolute;
        left: 85%;
        display: flex;
        top: 25%;
	}
}
@media (max-width: 400px) {
	.bxs-cog {
        position: absolute;
        left: 80%;
        display: flex;
        top: 25%;
	}
}
.perfil{
    border-radius: 20px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.name{
    color: #7796F1;
}