
.componente{

 
    height:340px;
    
}
.post{
    height:275px;
    display: flex;
    justify-content: center;
}
.info{
    display: flex;
    width: 150px; 
    height: 33px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-post{
    
    height: 97%;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}
.imagen-usuario{
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}
.info p {

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    

    color: #FFFFFF;


}

.box-like{

  
    width: 100%;
    height: 25px;
}
custom-like{
   margin-left: 20px;

}



