.box {
	width: 110px;
	height: 31px;
	position: absolute;
	top: 80px;
	left: 110px;
	font-family: 'Satoshi-Medium', Helvetica;
	font-weight: 500;
	color: #7796f1;
	font-size: 13px;
	letter-spacing: 0;
	line-height: normal;
}

.box .button {
	all: unset;
	box-sizing: border-box;
	position: relative;
	width: 110px;

	height: 31px;
	border-radius: 40px;
	border:1px solid;
	border-color: #393879;
	transition: background-color 0.3s; /* Agrega transición para suavizar el cambio de color */
	display: flex;
	align-items: center;
.box .button:active {
	background-color: #7796f1; /* Cambia el color cuando se presiona el botón */
}
