/* @media (max-width: 768px) {
	section {
		width: 100%;
		height: auto;
		border-radius: 0;
		margin: 0;
		position: relative;
	}
} */

@media (max-width: 800px) {
	section {
		display: none;
	}
}

section {
	box-sizing: border-box;
	position: absolute;
	width: 328px;
	height: 500px;
	top: 0;
	left: 0;
	background: #25245e;
	border-radius: 20px;
	outline: 0;

}

img {
	display: block;
	position: relative;
	margin: 61px 0 0 114px;
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 100px;
	background: lightgray 50% / cover no-repeat;
	background-size: cover;
	z-index: 8;
}

.top h1 {
	display: block;
	position: relative;
	color: #fff;
	font-family: Satoshi;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	white-space: nowrap;
	z-index: 2;
}

.top h2 {
	display: block;
	position: relative;
	height: 19px;
	margin: 0 0 0 125px;
	margin-top: -15px;
	color: #7796f1;
	font-family: Satoshi;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.9px;
	white-space: nowrap;
	z-index: 1;
}

.following h1 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 27px;
	top: 290px;
	left: 61px;
	color: #ffffff;
	font-family: Satoshi;
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	text-align: left;
	white-space: nowrap;
	z-index: 3;
}

.following h2 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 22px;
	top: 321px;
	left: 43px;
	color: #7796f1;
	font-family: Satoshi;
	font-size: 16px;
	font-weight: 500;
	line-height: 21.6px;
	text-align: left;
	white-space: nowrap;
	z-index: 5;
}

.follower h1 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 27px;
	top: 290px;
	left: 226px;
	color: #ffffff;
	font-family: Satoshi;
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	text-align: left;
	white-space: nowrap;
	z-index: 4;
}

.follower h2 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	height: 22px;
	top: 321px;
	left: 218px;
	color: #7796f1;
	font-family: Satoshi;
	font-size: 16px;
	font-weight: 500;
	line-height: 21.6px;
	text-align: left;
	white-space: nowrap;
	z-index: 7;
}

.myProfile {
	display: block;
	position: relative;
	color: #7796f1;
	font-family: Satoshi;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	white-space: nowrap;
	z-index: 6;
	margin-top: 454px;
}
