.contenedorfollo {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
	gap: 20px 300px;
	position: absolute;
	top: 28%;
	left: 28%;
}
@media (max-width: 800px) {
	.contenedorfollo {
		display: flex;
		flex-direction: column;
		gap: 20px 300px;
		position: absolute;
		top: 30%;
		left: 33%;
	}
}
@media (max-width: 400px) {
	.contenedorfollo {
		display: flex;
		flex-direction: column;
		gap: 20px 300px;
		position: absolute;
		top: 10%;
		left: 14%;
	}
}
nav-app {
	display: none;
}

@media (max-width: 800px) {
	nav-app {
		display: flex;
	}
}
