.welBar {
	width: 100%;
	height: 120px;
	flex-shrink: 0;
	border-radius: 20px;
	background: #25245e;
}

.ImgUser img {
	width: 60px;
	height: 60px;
	flex-shrink: 0;
	border-radius: 60px;
	position: absolute;
	top: 11px;
	left: 30px;
}

.text {
	position: absolute;
	top: 19px;
	left: 100px;
	border-radius: 40px;
	box-sizing: border-box;
	width: 560px;
	height: 45px;
	flex-shrink: 0;
	border-radius: 5px;
	background: #393879;
	border: transparent;
	font-size: 18px;
	color: #7796F1;
}


::placeholder {
	color: #7796F1;
    font-family: Satoshi;
    font-size: 18px;
    border-color: transparent; 
   	padding: 5px;
}

.welBar {
	display: flexbox;
	flex-direction: row;
}
