
section{
    width: 500px;
    height: 700px;
    background-color: #25245E;
    position: relative;
    left: 30%;
    top: 10%;
    border-radius: 20px;
    
}     
.box-signUp{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}  
h1{
    margin: 0;
    font-size: 30px;
    color: #FFF;
    font-family: Satoshi;
}
