
.contenedorfeed{

    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    right: 25%;
    top: 25%;
    display: flex;
   flex-direction: row;
   gap: 10px;
   flex-wrap: wrap;
    /*background-color: rgb(255, 0, 0);*/

}

@media (max-width: 800px) {
    .contenedorfeed{
        width: 90%;
        height: 90%;
        left: 5%;
        right: 10%;

    } 

}
@media (max-width: 400px) {
    .contenedorfeed{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
    } 

}
.contenedorfollowers{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 650px;
    left: 25px;
   
}
nav-app{
    display: none;
}
@media (max-width: 800px) {
    nav-app{
        display: flex;

    } 

}
@media (max-width: 800px) {
    .contenedorfollowers{
        display: none;

    } 

} 
@media (max-width: 800px) {
    custom-follobackgrond{
        display: none;

    } 

} 
