.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.title h1 {
	color: #fff;
	font-family: Satoshi;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}



.title h2 {
	color: #fff;
	font-family: Satoshi;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.title h3 {
	color: #7796f1;
	font-family: Satoshi;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.day {
	margin-top: 8%;
}

.end {
	margin-top: 62%;
}
.go{

	position: relative;

	top: 90%;
}
.go button {
	background-color: rgb(255, 255, 255);
	margin-right: 15px;
	border-color: transparent;
	width: 100px;
	height: 30px;
	border-radius: 30px;
	font-family: Satoshi;
	font-size: 12px;
	margin-bottom: 90%;
}

.go button:active {
	color: #25245e; /* Cambia el color del texto cuando se presiona */
	background-color: #7796f1; /* Cambia el color de fondo cuando se presiona */
}
