.box-followers{

    
    width: 328px;
    height: 325px;

    background: #25245E;
    border-radius: 20px;

}
.Who h2{

    position: absolute;
    width: 146px;
    height: 30px;
    left: 20px;
    top: 15px;
    margin: 0px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

}
.Show p {
    /* Show more */

    position: absolute;
    width: 70px;
    height: 30px;
    left: 20px;
    top: 300px;
    margin: 0px;
    font-family: 'Satoshi';
    font-size: 12px;
    line-height: 14px;

    color: #7796F1;


}
    